body{
margin:0;
font-family:"Poppins",sans-serif;
background:#020617;
color:white;
}
nav{
display:flex;
justify-content:space-between;
padding:18px 34px;
background:#0f172a;
}
nav a{
margin-left:14px;
color:#9ca3af;
text-decoration:none;
}
nav a:hover{color:#fff}

.container{
margin-top:70px;
max-width:420px;
background:#111827;
padding:40px;
border-radius:18px;
box-shadow:0 20px 70px rgba(0,0,0,.6);
text-align:center;
margin-left:auto;
margin-right:auto;
}

input{
padding:10px;
border-radius:8px;
border:none;
outline:none;
}

button{
margin-top:12px;
background:#2563eb;
border:none;
padding:12px 16px;
border-radius:10px;
color:white;
cursor:pointer;
}
button:hover{background:#1e40af}

.box{
margin-top:20px;
padding:15px;
background:#020617;
border-radius:10px;
}

.donate{
display:inline-block;
margin-top:20px;
background:#22c55e;
padding:10px 16px;
border-radius:12px;
text-decoration:none;
color:white;
}

footer{
text-align:center;
margin-top:70px;
padding:20px;
color:#9ca3af;
}
